.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.logo {
  width: 100px;
}
.logo img {
  width: 100%;
}

.nav ul li {
  font-size: 1.5rem;
  display: inline-block;
  margin: 0px 16px;
  color: rgb(32, 129, 32);
}
